<a href="https://colab.research.google.com/github/KYUSEONGHAN/pandas-tutorial/blob/master/ch05_%ED%86%B5%EA%B3%84%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/gdrive/MyDrive/DACON/df03.csv')
df

    도시       인구수        남자        여자
0   서울   9741381   4757642   4984229
1   부산   3416918   1680933   1735985
2   인천   2925967   1472081   1453886
3   대구   2453041   1218326   1234715
4   대전   1525849    765718    760131
5   광주   1496172    745122    751050
6   수원   1193894    601097    592797
7   울산   1147037    589233    557804
8   고양   1068641    523803    544838
9   용인   1061440    526824    534617
10  총합  26030340  12880779  13150052

In [4]:
df['도시'].unique()  # 컬럼의 고유값 리스트 반환

array(['서울', '부산', '인천', '대구', '대전', '광주', '수원', '울산', '고양', '용인', '총합'],
      dtype=object)

In [5]:
df['도시'].value_counts()  # 컬럼의 고유값 카운트 반환

서울    1
부산    1
인천    1
대구    1
대전    1
광주    1
수원    1
울산    1
고양    1
용인    1
총합    1
Name: 도시, dtype: int64

In [6]:
# pd.DataFrame.sum() : 각 컬럼의 합계를 반환

# pd.DataFrame.max() : 각 컬럼의 최대값을 반환

# pd.DataFrame.idxmax() : 특정 컬럼의 최대값의 인덱스 반환

# pd.DataFrame.min() : 각 컬럼의 최소값을 반환

# pd.DataFrame.idxmin() : 특정 컬럼의 최소값의 인덱스 반환

# pd.DataFrame.mean() : 각 컬럼의 평균을 반환

# pd.DataFrame.median() : 각 컬럼의 중앙값을 반환

# pd.DataFrame.var() : 각 컬럼의 분산을 반환

# pd.DataFrame.std() : 각 컬럼의 표준편차를 반환

In [7]:
df = df.iloc[:10, 1:]
df

       인구수       남자       여자
0  9741381  4757642  4984229
1  3416918  1680933  1735985
2  2925967  1472081  1453886
3  2453041  1218326  1234715
4  1525849   765718   760131
5  1496172   745122   751050
6  1193894   601097   592797
7  1147037   589233   557804
8  1068641   523803   544838
9  1061440   526824   534617

In [8]:
df.sum()

인구수    26030340
남자     12880779
여자     13150052
dtype: int64

In [9]:
df.max()

인구수    9741381
남자     4757642
여자     4984229
dtype: int64

In [10]:
df['인구수'].idxmax()

0

In [12]:
origin_df = pd.read_csv('/content/gdrive/MyDrive/DACON/df03.csv')
origin_df

    도시       인구수        남자        여자
0   서울   9741381   4757642   4984229
1   부산   3416918   1680933   1735985
2   인천   2925967   1472081   1453886
3   대구   2453041   1218326   1234715
4   대전   1525849    765718    760131
5   광주   1496172    745122    751050
6   수원   1193894    601097    592797
7   울산   1147037    589233    557804
8   고양   1068641    523803    544838
9   용인   1061440    526824    534617
10  총합  26030340  12880779  13150052

In [14]:
df.min()

인구수    1061440
남자      523803
여자      534617
dtype: int64

In [15]:
df.mean()

인구수    2603034.0
남자     1288077.9
여자     1315005.2
dtype: float64

In [16]:
df.median()

인구수    1511010.5
남자      755420.0
여자      755590.5
dtype: float64

In [17]:
df.var()

인구수    6.996348e+12
남자     1.658060e+12
여자     1.843244e+12
dtype: float64